body {
    background: url('https://assets.entrepreneur.com/content/3x2/2000/20170512010329-experienciadecompra.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  